.navbar {
  background: rgba(255, 255, 255, 0.8); /* Base dark color with transparency */
  background-image: 
    linear-gradient(135deg, rgba(136, 32, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent),
    linear-gradient(45deg, rgba(255, 0, 242, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 5px 5px; /* Adjust for the size of the noise effect */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space between left and right sections */
  align-items: center; /* Center items vertically */
  height: 60px;
  position: sticky;
  top: 0px;
}

.nav-left, .nav-right {
  list-style-type: none;
  display: flex; /* Align items in a row */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-left li, .nav-right li {
  margin-right: 20px; /* Space between items */
}

.nav-right li {
  margin-left: auto; /* Push the Pre-register link to the right */
}

.navbar a {
  background-color: rgba(255, 255, 255, 0); /* White background for active link */
  border-radius: 20px;
  padding: 8px 10px;
  color: rgb(0, 0, 0); /* White text */
  text-decoration: none; /* Remove underline */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.09); /* Change background on hover with some transparency */
}

.navbar .active {
 
}

.navbar .active a {
  background: rgba(0, 0, 0, 0.055);/* White background for active link */
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
}

