.resume {
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
  }
  
  h1 {
    text-align: left;
    font-size: xx-large;
  }
  
  h2 {
    color: #000000;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    text-align: left;
    font-size: large;
  }
  
  .contact a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }
  
  section {
    margin: 20px 0;
  }
  
  p {
    text-align: left;
    margin: 10px 20px;

  }
  