/* Sidebar styles */
.sidebar {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    right: 0px;
    top: 50%; /* Center the sidebar vertically */
    transform: translateY(-50%); /* Adjust to keep it in the center */
    display: flex;
    flex-direction: column; /* Align buttons vertically */
    align-items: center; /* Center buttons horizontally */
}

.sidebar button {
    background-color: rgb(68, 135, 197);
    color: rgb(255, 255, 255);
    margin: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    transform: rotate(-90deg); /* Rotate the buttons 90 degrees */
    white-space: nowrap; /* Ensure the text doesn't wrap */
}
